:root{
    --mainColor:#15202B;
    --secondaryColor:#192734;

    --borderColor:#164d56;

    --mainText:#fff;
    --secondaryText:#eeeeee;

    --themeDotBorder:#fff;
    --previewBg:##95C9E2;

    --previewShadow: #111921;

    --buttonColor: #17A2B8;
}