:root{
    --mainColor:#606B56;
    --secondaryColor:#515A48;

    --borderColor:#161914;

    --mainText:white;
    --secondaryText:#eeeeee;

    --themeDotBorder:white;

    --previewBg:#515A48;
    --previewShadow: #2A2F25;

    --buttonColor: #669966;
}
