:root{
    --mainColor:#46344E;
    --secondaryColor:#382A3F;

    --borderColor:#1A131D;

    --mainText:white;
    --secondaryText:#eeeeee;

    --themeDotBorder:white;

    --previewBg:#221927;
    --previewShadow: #2B202F;

    --buttonColor: #8534A3;
}
